/* 用户名密码框 */
#tel,
#pwd {
    font-size: 14px;
}

/* 记住密码 忘记密码容器样式 */
.login_bottom {
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* 记住密码 */
.remember_me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 记住密码中的checkbox样式 */
.remember_me input {
    margin: 0 !important;
}

/* 忘记密码标签 */
.forget_pwd a {
    text-decoration: underline;
    color: #7a7676;

}

.get_code_btn {
    margin-top: 5px;


}
