<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="weiyi.xie">
    <link rel="shortcut icon" th:href="@{/css/company.png}" type="image/png">

    <title>首页</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap-3.3.7/dist/css/bootstrap.min.css}"/>
    <!--common-->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div class="header-section">

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                首页
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">首页</a>
                </li>
                <li class="active"> 首页</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <!--statistics start-->
                    <div class="state-overview">
                        <a href="../babyeducation/user" style="color: snow">
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="panel purple">
                                    <div class="symbol">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="state-value">
                                        <div class="title">用户开通vip</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="../babyeducation/user_records" style="color: snow">
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="panel red">
                                    <div class="symbol">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <div class="state-value">
                                        <div class="title">用户购买课本</div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <!--statistics end-->
            </div>
        </div>
    </div>
    <!--body wrapper end-->

    <!--footer section start-->
    <footer>
        2019 ©长沙指环科技有限公司
        <!--2014 &copy; AdminEx by <a href="http://www.mycodes.net/" target="_blank">源码之家</a>-->
    </footer>
    <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/lib/jquery-3.3.1.js}"></script>
<script th:src="@{/lib/jquery.nicescroll.js}"></script>
<script th:src="@{/lib/bootstrap-3.3.7/dist/js/bootstrap.min.js}"></script>

<!--<script src="js/scripts.js"></script>-->
<!-- cookie插件 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<!-- 提示框插件 -->
<script th:src="@{/lib/toastr/toastr.min.js}"></script>
<script th:src="@{/js/config/config.js}"></script>
<script th:src="@{/js/util/utils.js}"></script>

<script th:src="@{/js/index.js}"></script>

</body>

</html>
