e<!--logo and iconic logo start-->
<div class="logo" xmlns:th="http://www.w3.org/1999/xhtml">
    <a href="#">
        <!--<img src="images/logo.png" alt="">-->
        <!--菜单栏展开显示标题-->
        宝宝教育管理平台
    </a>
</div>

<div class="logo-icon text-center">
    <a href="../babyeducation/index">
        <!--<img src="images/logo_icon.png" alt="">-->
        <!--菜单栏收起显示标题-->
        宝宝教育
    </a>
</div>
<!--logo and iconic logo end-->

<div class="left-side-inner">

    <!-- visible to small devices only -->
    <!--<div class="visible-xs hidden-sm hidden-md hidden-lg">-->
    <!--<div class="media logged-user">-->
    <!--<img alt="" src="images/photos/user-avatar.png" class="media-object">-->
    <!--<div class="media-body">-->
    <!--<h4><a href="#">John Doe</a></h4>-->
    <!--<span>"Hello There..."</span>-->
    <!--</div>-->
    <!--</div>-->

    <!--<h5 class="left-nav-title">Account Information</h5>-->
    <!--<ul class="nav nav-pills nav-stacked custom-nav">-->
    <!--<li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>-->
    <!--<li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>-->
    <!--<li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>-->
    <!--</ul>-->
    <!--</div>-->

    <!--sidebar nav start-->
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li id="index"><a href="../babyeducation/index"><i class="fa fa-home"></i> <span>概览</span></a></li>
        <li class="menu-list"><a href=""><i class="fa fa-link"></i> <span>用户管理</span></a>
            <ul class="sub-menu-list">
                <li id="user"><a href="../babyeducation/user"> 用户开通vip</a></li>
                <li id="user_records"><a href="../babyeducation/user_records"> 用户购买单本书籍</a></li>

            </ul>
        </li>




        <li><a href="#" onclick="loginOut()"><i class="fa fa-sign-in"></i> <span>退出登录</span></a></li>
    </ul>
    <!--sidebar nav end-->
</div>
<!--菜单栏收起js-->
<script th:src="@{/js/scripts.js}"></script>
<script>
    // 获取当前的url
    var url = location.href;
    // 根据某个规则分割字符串，结果为array
    var urlArr = url.split("/");
    // 数组最后一个元素：页面的名字
    var lastUrlStr = urlArr[urlArr.length - 1];
    // 再根据.对页面的最后一个路径进行分割，取第一个元素：页面的名称
    var pageName = lastUrlStr.split(".")[0];
    switch (pageName) {
        case "index":
            $("#index").parent().parent().addClass("nav-active");
            $("#index").addClass("active");
            break;
        case "user":
            $("#user").parent().parent().addClass("nav-active");
            $("#user").addClass("active");
            break;
        case "user_records":
            $("#user_records").parent().parent().addClass("nav-active");
            $("#user_records").addClass("active");
            break;
    }
</script>
