﻿<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="weiyi.xie">
    <link rel="shortcut icon" th:href="@{/css/company.png}" type="image/png">

    <title>登录</title>

    <link th:href="@{/lib/bootstrap-3.3.7/dist/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" type="text/css" rel="stylesheet">
    <!-- 提示框样式 -->
    <link th:href="@{/lib/toastr/toastr.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/login.css}" type="text/css" rel="stylesheet">
    <!--&lt;!&ndash; HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="js/html5shiv.js"></script>-->
    <!--<script src="js/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" action="javascript: login()">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">宝宝教育管理后台登录</h1>
            <!--<img src="images/login-logo.png" alt=""/>-->
        </div>
        <div class="login-wrap">
            <input type="text" class="form-control" id="tel" placeholder="请输入手机号" autofocus>
            <input type="password" class="form-control" id="pwd" placeholder="请输入密码">
            <div class="input-group">
                <!--<input type="text" class="form-control" id="code" placeholder="请输入验证码" style="width: 140px">-->
                <!--<img id="vimg" src="../api/imageCode/validateCode" width="140px" height="40px">-->
            </div>
            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>

            <!--<div class="registration">-->
            <!--Not a member yet?-->
            <!--<a class="" href="registration.html">-->
            <!--Signup-->
            <!--</a>-->
            <!--</div>-->
            <label class="login_bottom">
                <div class="remember_me">
                    <input type="checkbox" value="remember-me">
                    <span>记住密码</span>
                </div>
                <!--<span class="forget_pwd">-->
                <!--<a data-toggle="modal" href="#forgetPwd"> 忘记密码？</a>-->
                <!--</span>-->
            </label>
        </div>
    </form>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forgetPwd" class="modal fade"
         data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">忘记密码？</h4>
                </div>
                <div class="modal-body">
                    <p>输入你的手机号</p>
                    <input type="tel" placeholder="电话" autocomplete="off" class="form-control placeholder-no-fix tel">
                    <p>输入你的验证码</p>
                    <input type="text" placeholder="验证码" autocomplete="off"
                           class="form-control placeholder-no-fix code">
                    <button class="btn btn-default get_code_btn" onclick="sendMsg()">
                        获取验证码
                    </button>
                    <p>输入新密码</p>
                    <input type="password" placeholder="新密码" autocomplete="off"
                           class="form-control placeholder-no-fix pwd">
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                    <button class="btn btn-primary" type="button" onclick="changePwd()">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->

</div>
<!--用于拿取后台传入进来的值-->
<script th:inline="javascript"></script>
<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/lib/jquery-3.3.1.js}"></script>
<script th:src="@{/lib/bootstrap-3.3.7/dist/js/bootstrap.min.js}"></script>
<!-- cookie插件 -->
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<!-- RSA 加密的插件 -->
<script src="https://cdn.bootcss.com/jsencrypt/3.0.0-rc.1/jsencrypt.min.js"></script>
<!-- loading Modal start-->
<div class="modal fade" id="loadingModal" data-backdrop="static">
    <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
        <div class="progress progress-striped active" style="margin-bottom: 0;">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
        <h5 style="color: white; font-weight: bold">努力加载中...</h5>
    </div>
</div>
<!-- 提示框插件 -->
<script th:src="@{/lib/toastr/toastr.min.js}"></script>
<script th:src="@{/js/config/config.js}"></script>
<script th:src="@{/js/login.js}"></script>

</body>
<script type="text/javascript" color="50, 50, 50" opacity='1' zIndex="-2" count="130"
        th:src="@{/js/mouseTracking.js}"></script>
</html>
