<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="weiyi.xie">
    <link rel="shortcut icon" th:href="@{/css/company.png}" type="image/png">

    <title>用户管理</title>

    <link th:href="@{/lib/bootstrap-3.3.7/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/lib/confirm/jquery-confirm.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/lib/bootstrap-daterangepicker/daterangepicker-bs3.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
    <!--<link th:href="@{/css/general.css}" rel="stylesheet">-->
    <!--上传样式-->
    <link th:href="@{/css/uploadingUtil.css}" rel="stylesheet">

</head>
<body class="sticky-header">


<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">


        <!-- header section start-->
        <div class="header-section">

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                宝宝教育用户管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="../telshow/index"><i class="fa fa-home"></i>首页</a>
                </li>
                <li>
                    <a href="">宝宝教育用户管理</a>
                </li>
                <li class="active">宝宝教育用户管理</li>
            </ul>
        </div>
        <!--body wrapper start-->
        <div class="wrapper">
            <!-- 按条件筛选 -->
            <div class="row">
                <div class="search_view" id="searchDiv">
                    <input class="search_input search_mob" type="text" placeholder="用户手机号查询"/>
                    <!--<div class="input-group input-large custom-date-range" style="width: 395px;margin-right: 15px;">-->
                        <!--<input type="text" class="search_input form-control fist_time datePicker" name="from"-->
                               <!--placeholder="请选择开始日期">-->
                        <!--<span class="input-group-addon" style="background-color: white;padding-top: 10px">To</span>-->
                        <!--<input type="text" class="search_input form-control end_time datePicker" name="to"-->
                               <!--placeholder="请选择结束日期">-->
                    <!--</div>-->
                    <button class="btn btn-primary search_btn" onclick="searchUser()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <!-- 列表 -->
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            用户列表
                        </header>
                        <div class="panel-body">
                            <div class="content_list">
                                <div class="clearfix">
                                    <!--<div class="btn-group">-->
                                        <!--<button id="add_mps" class="btn btn-primary" data-toggle="modal"-->
                                                <!--data-target="#new_modal">-->
                                            <!--新增数据 <i class="fa fa-plus"></i>-->
                                        <!--</button>-->
                                    <!--</div>-->
                                </div>
                                <table class="table table-striped table-hover content_table">
                                    <thead>
                                    <tr>
                                        <th>用户ID</th>
                                        <th>用户名称</th>
                                        <th>用户头像</th>
                                        <th>用户手机号</th>
                                        <th>用户性别</th>
                                        <th>当前年级</th>
                                        <th>是否为VIP</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tab_body">
                                    </tbody>
                                </table>
                            </div>
                            <p id="no_data">抱歉，暂无数据</p>
                            <!--显示分页插件-->
                            <ul id="page"></ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2019 ©长沙指环科技有限公司
        </footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>
<!-- New Modal -->
<div class="modal fade" id="new_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">新增数据</h4>
            </div>
            <form class="form-horizontal adminex-form" id="new_form" action="javascript: addUser()">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-1 control-label">用户名称</label>
                        <div class="col-sm-6">
                            <input class="form-control user_name" name="user_name" type="text" placeholder="请输入分类名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-1 control-label">用户头像</label>
                        <div class="col-sm-6">
                            <input id="input1" class="form-control user_img" name="user_img" type="text"
                                   placeholder="分类图片"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-1 control-label">用户手机号</label>
                        <div class="col-sm-6">
                            <input class="form-control mob" name="mob" type="text" placeholder="请输入分类名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-1 control-label">手机型号</label>
                        <div class="col-sm-6">
                            <input class="form-control phone_type" name="phone_type" type="text" placeholder="请输入分类名称"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <input type="submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Detail Modal -->
<div class="modal fade" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">详情/编辑</h4>
            </div>
            <form class="form-horizontal adminex-form" id="detail_form" action="javascript: updateUser()">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-1 control-label">用户ID</label>
                        <div class="col-sm-6">
                            <input class="form-control id" name="id" type="text" placeholder="id" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-1 control-label">用户名称</label>
                        <div class="col-sm-6">
                            <input class="form-control  nick_name" name="nick_name" type="text" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-1 control-label">用户手机号</label>
                        <div class="col-sm-6">
                            <input class="form-control mob" name="mob" type="text" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-1 control-label">是否为VIP</label>
                        <div class="col-sm-6">
                            <select class="form-control is_vip" name="is_vip" type="text" title="请选择">
                            <option value='' disabled selected >是否为VIP </option>
                            <option value="">不填</option>
                            <option value="0">否</option>
                            <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-1 control-label">VIP开始时间</label>
                        <div class="col-sm-6">
                            <input class="form-control  stat_time datePicker " name="stat_time" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-1 control-label">VIP结束时间</label>
                        <div class="col-sm-6">
                            <input class="form-control end_time datePicker" name="end_time" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <input type="submit" class="btn btn-primary" value="保存"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/lib/jquery-3.3.1.js}"></script>
<!-- 自定义滚动条 -->
<script th:src="@{/lib/jquery.nicescroll.js}"></script>
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<script src="http://gosspublic.alicdn.com/aliyun-oss-sdk-6.1.1.min.js"></script>
<!-- form表单验证 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

<script th:src="@{/lib/bootstrap-3.3.7/dist/js/bootstrap.min.js}"></script>
<!-- cookie插件 -->
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<!-- 分页器 -->
<script th:src="@{/lib/bootstrap-paginator.js}"></script>
<!-- 提示框样式 -->
<link th:href="@{/lib/toastr/toastr.min.css}" type="text/css" rel="stylesheet">

<!-- 时间表单插件 -->
<script th:src="@{/lib/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js}" charset="UTF-8"></script>

<!-- loading Modal start-->
<div class="modal fade" id="loadingModal" data-backdrop="static">
    <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
        <div class="progress progress-striped active" style="margin-bottom: 0;">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
        <h5 style="color: white; font-weight: bold">努力加载中...</h5>
    </div>
</div>

<!-- 对话框插件 -->
<script th:src="@{/lib/confirm/jquery-confirm.min.js}"></script>
<script th:src="@{/lib/toastr/toastr.min.js}"></script>
<script th:src="@{/js/config/config.js}"></script>
<script th:src="@{/js/util/utils.js}"></script>
<script th:src="@{/js/user.js}"></script>

<!--上传图片-->


</body>
</html>
